@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
    --bg: #0057b8;
    --form: #ffc554;
    --text-color: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.container {
    position: relative;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--form);
}

.container header {
    font-size: 22px;
    font-weight: 500;
    color: #232836;
    text-align: center;
}

.container form {
    margin-top: 30px;
}

.signup .link-field {
    margin-top: 10px;
    text-align: center;
}

.link-field span,
.link-field .login-link {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.link-field .login-link {
    color: #0057b8;
    text-decoration: none;
}

.link-field .login-link:hover {
    text-decoration: underline;
}

form .field {
    margin-bottom: 20px;
}

form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}

.invalid input {
    border-color: #d93025;
}

.input-field .show-pass {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

.input-field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.input-field button {
    color: #fff;
    background-color: #0057b8;
    transition: all 0.3s ease;
    cursor: pointer;
}

.input-field button:hover {
    background-color: #00499c;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background-color: #0057b8;
}

.line::before {
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--form);
    color: #0057b8;
    padding: 0 15px;
}

.back-home a {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.back-home a:hover {
    background-color: #00499c;
}

.home-link {
    color: #fff;
    background-color: #0057b8;
}

.home-link .icon {
    height: 28px;
    width: 28px;
    color: #0057b8;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
