@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =========== CSS Variables =========== */

:root {
    --logo-color: #0057b8;
    --logo-transition: #ffc554;
    --header-color: #fff;
    --footer-top-color: #eee4c8;
    --footer-bot-color: #ffc727;
    --text-color: #1f1f1f;
    --transition-color: #ffc554;
    --transition-color-btn: #eeb84c;
    --services-bg: #fff;
    --bg-color: #eee8e8;
    --black: #1f1f1f;
    --white: #fff;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
}

/* =========== Basic Reset =========== */

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark {
    --logo-color: #ffc554;
    --logo-transition: #e91e63;
    --bg-color: #343333;
    --header-color: #1c1d1e;
    --services-bg: #eee4c8;
    --footer-top-color: #1c1d1e;
    --footer-bot-color: #d6a724;
    --text-color: #dfd9d9;
    --transition-color: #e91e63;
    --transition-color-btn: #c0164f;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    height: 100%;
}

section {
    padding: 2rem 9%;
}

/* =========== Header =========== */

.logo {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.yellow {
    color: var(--logo-transition);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    height: 80px;
    background: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

/* =========== Navbar =========== */

.navbar a {
    font-weight: 500;
    transition: var(--transition);
    padding: 1rem;
    border-bottom: 2px solid transparent;
}

.navbar a:not(:last-child) {
    margin-right: 10px;
}

.navbar a:hover {
    color: var(--transition-color);
    border-color: var(--transition-color);
}

.header .icons {
    position: relative;
    margin-right: 20px;
    left: 30px;
    gap: 30px;
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.icons .theme .light {
    position: absolute;
    transition: var(--transition);
}

.icons .theme .dark {
    opacity: 0;
    visibility: hidden;
}

.theme.active .dark {
    opacity: 1;
    visibility: visible;
    transition: var(--transition);
}

.theme.active .light {
    opacity: 0;
    visibility: hidden;
}

.icons .logout {
    font-size: 30px;
}

/* =========== Home =========== */

.home {
    padding-top: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.home .image img {
    width: 100%;
}

.home .content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.home .content p {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.home .content .home-btn {
    display: inline-block;
    color: var(--text-color);
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: var(--transition-color);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    transition: var(--transition);
}

.home .content .home-btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}

/* =========== Calc form =========== */

.calc {
    padding-top: 2rem;
    display: flex;
    gap: 15rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.calc form {
    max-width: 400px;
    width: 100%;
    border-radius: 16px;
    padding: 30px;
    margin: 0 15px;
    transition: var(--transition);
    background-color: var(--header-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.calc form .field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 4px 0;
}

.field span {
    margin-top: 1rem;
    font-size: 2.8rem;
}

.field label {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.field input {
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 5px;
    height: 42px;
    margin: 8px 0;
}

.field input[type="number"] {
    width: 10rem;
}

.calc form .cargo_det p {
    display: flex;
    margin: 1rem 0;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: var(--text-color);
}

.calc form .btn button {
    margin: 1.2rem 8rem;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-color);
    cursor: pointer;
    border: none;
    background-color: var(--header-color);
    border-bottom: 2px solid transparent;
    transition: var(--transition);
}

.calc form .btn button:hover {
    color: var(--transition-color);
    border-color: var(--transition-color);
}

.calc fieldset {
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: solid 0.2rem var(--text-color);
    border-radius: 0.5rem;
}

.calc legend {
    font-size: 3.8rem;
    font-weight: 400;
    padding: 0 1rem;
}

.calc .content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.calc .content p {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.calc .content .order-msg {
    font-size: 2.8rem;
    font-weight: 500;
}

/* =========== Services =========== */

section.services {
    background-color: var(--bg-color);
    padding: 5rem 9%;
}

.services .top {
    text-align: center;
    margin-bottom: 5rem;
}

.services .top h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.services .top p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: var(--text-color);
}

.services .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.services .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.services .bottom .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
}

.services .bottom .box:hover {
    background-color: var(--header-color);
    box-shadow: var(--box-shadow);
}

.services .bottom .box h4 {
    font-size: 2.4rem;
    margin: 1.5rem 0;
}

.services .bottom .box p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.services .bottom .box a {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

/* =========== Tariffs section =========== */

.table {
    width: 100%;
}

.table_section {
    overflow: auto;
}

.table_header {
    font-size: 5.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    align-items: center;
    padding: 20px;
    color: var(--text-color);
    transition: var(--transition);
    background-color: var(--header-color);
}


table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th input {
    top: 0;
    border: none;
    outline: none;
    text-align: center;
    color: var(--text-color);
    background-color: var(--header-color);
    transition: var(--transition);
    font-weight: 400;
    font-size: 2.8rem;
}

th {
    border: 2px solid var(--logo-transition);
}

th,
td {
    font-size: 1.8rem;
    font-weight: 400;
    transition: var(--transition);
    border: 2px solid var(--logo-transition);
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

/* =========== Directions tariffs =========== */

section .table-sort th {
    cursor: pointer;
}

.table-sort thead th {
    background-color: var(--header-color);
    color: var(--text-color);
    font-weight: 500;
    border: none;
    border-bottom: 2px solid var(--logo-transition);
}

.table-sort thead th:last-child {
    border-left: 2px solid var(--logo-transition);
}

.table-sort .th-sort-asc::after {
    content: "\25b4";
}

.table-sort .th-sort-desc::after {
    content: "\25be";
}

.table-sort .th-sort-asc::after,
.table-sort .th-sort-desc::after {
    margin-left: 5px;
}

.table-sort tbody td {
    border: none;
}

.table-sort tbody td:last-child {
    border-left: 2px solid var(--logo-transition);
}

.table-sort tbody tr:last-child td {
    border-bottom: 2px solid var(--logo-transition);
}

/* =========== Footer =========== */

footer {
    position: sticky;
}

.footer .top {
    background-color: var(--footer-top-color);
    padding: 5rem 9%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer .top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: var(--transition-color);
}

.footer .top .content p {
    color: var(--text-color);
    margin-top: 2rem;
    width: 90%;
}

.footer .top .link h4 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.footer .top .link a {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.footer .top .link span {
    color: var(--text-color);
}

.footer .top .link a {
    display: block;
}

.footer .top .link div {
    margin-bottom: 1rem;
    gap: 5px;
    display: flex;
    align-items: center;
}

.footer .top .link div .icon {
    font-size: 20px;
}

.footer .top .link ul {
    list-style: none;
}

.footer .top .link ul a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--white);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--black);
    transition: var(--transition);
}

.footer .top .link ul a:hover {
    background-color: var(--transition-color);
}
